doctype html
html
  head
     include header.pug															<-- appel header.pug
    
  body
  	h1=sayHello																	<--- appel la var sayHello
    block content																<--- appel block content -->coucou.pug



